
@{
    Layout = null;
    dbJoutaEntities db = new dbJoutaEntities();
    int targetNumber = Model;
    var totalMember = from x in db.tMember
                      select x;
    var targetAct = db.tActivity.Where(s => s.f活動編號 == targetNumber).FirstOrDefault();
    string[] attendGuys = { };
    if (!string.IsNullOrEmpty(targetAct.f活動參加的會員編號))
    {
        attendGuys = targetAct.f活動參加的會員編號.Split(',');
    }
}

@foreach (string guy in attendGuys)
{
    var theGuy = totalMember.Where(x => x.f會員編號.ToString() == guy);
    var theGuyName = theGuy.Select(a => a.f會員名稱).FirstOrDefault();
    if (!string.IsNullOrEmpty(theGuyName))
    {
        <div class="m-3">
            <img width="100" height="100" src="~/Content/images/@theGuy.Select(a => a.f會員大頭貼).FirstOrDefault()" />
            <span>@theGuyName</span>
        </div>
        <br />
    }
}
