body {
    background-color: #fffef4;
}

.nav-eat{
    background-color: #fee567;
    border-radius: 20px;
}

.filter{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0, 0.05)), url("../images/eatbanner.jpg");
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    box-shadow: 10px 10px 30px #fffbdf;
}

.top_form{
    top: 50%;
    bottom: 50%;
    transform: translate(0%,250%);
}

.col input{
    width:100%;
}

.form-control{
    width: auto;
}

.quests{
    margin: 100px auto;
}

.sortby{
    width: 30%;
}

.btn-block+.btn-block{
    margin-top: 0;
}

p{
    margin-block-end: 0;
}

.btnContent{
    background-color: #f5be2e;
}

.questbox{
    width: 70%;
}

.qBoxblock:hover{
    box-shadow: 0px 0px 12px 2px #f5be2e;
    transition-duration: 0.5s;
}

.qBoxblock{
    background-color: #fff;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgb(200, 200, 200);
    transition-duration: 1s;
    display: block;
    height: 400px;
}

.qEvent{
    width: 40%;
}

.eMember{
    height: 15%;
    position: relative;
}

.memberAvatar img{
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: fixed;
}

.memberTitle,.memberName{
    font-size: smaller;
}

.memberRating{
    position: absolute;
    right: 0px;
}

.eEventPic{
    height: 85%;
    overflow-x: hidden;
}

.eEventPic img{
    height: 100%;
}

.qContent{
    width: 60%;
    padding: 10px;
    position: relative;
}

.cTitle{
    font-weight: 900;
    font-size: xx-large;
}

hr{
    margin: 10px auto;
}

.cSocial{
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.switchPage{
    margin: 0 20px;
}

.popularMemberDiv{
    background-color: rgb(240, 240, 240);
}

.memberBlock{
    width: 30%;
    height:400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px rgb(200, 200, 200);
    transition-duration: 1s;
}

.memberBlock:hover{
    box-shadow: 0px 0px 4px 15px rgb(235, 235, 235);
    transition-duration: 1s;
}

.avatarPart{
    height: 50%;
    text-align: center;
}

.avatarPart .memberName{
    top: 50%;
    bottom:50%;
    transform: translate(0%,200%);
}

.introducePart{
    height: 45%;
    text-align: center;
}

.avatarPart img{
    width: 30%;
    top: 50%;
    bottom:50%;
    transform: translate(0%,30%);
}

.popularTitle{
   margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: xx-large;
}
