p{
  margin-bottom: 5px;
  text-align: center;
}
body {
    background-color: #fffef4;
}

.btn-secondary{
  background-color: #222222;
}
#travel_sort .sort li{
  border-bottom: solid;
  border-top: solid;
  border-width: 3px;
  width:83.5%
}
.modal{
  padding-right: 0px!important;
}
.modal-body input{
  margin: 10px !important;
}
.change-max-width-550 {
  max-width: 550px;
}
.change-max-width-1000 {
  max-width: 1000px;
}
.change-max-width-1400 {
  max-width: 1400px;
}
.Travel_border{
  border-style: solid;
  border-width: 1.3px;
  border-color: rgba(255,91,69);
}
.border-main-color{
  border-color: rgb(255,91,69);
}
.border-second-color{
  border-color: rgb(255,224,178);
}
#temp{
  text-align: right;
}
.fix{
  position:fixed; 
}
.fix-right{
  position:fixed;
  right: 0;
  margin: 0 auto; 
}
.display{
  display: none;
}

.content{ 
  /* margin: 0 auto; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-color:#fde57a */
  /* background-color: rgba(20, 80, 220, 0.746); */
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
}
 

.btn{
  border: 1px solid;
}

.btn-block{
  width:auto;
  margin-top: 0rem !important;
}
.btn-lg{
  width: 330px;
}

.form-control{
  width: 350px;
}

.wrapper {	
  margin-bottom: 80px;
  
}
.center{
  max-width: 380px;
  margin: 0 auto;
}
.form-signin {
  max-width: 380px;
  padding: 15px 15px 30px  ;
  margin: 0 auto;
  background: #ebd3a5c0  ;	
  border: 1px solid rgba(0,0,0,0.1);
}  

  .form-signin-heading,
	.checkbox {
    text-align: center;
	  margin-bottom: 20px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  font-size: 16px;
	  height: auto;
    padding: 10px;
    border-radius: 0;
	}
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    position: relative;
    z-index: 999;
}
	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

