body {
    background-color: #fffef4;
    padding-right: 0 !important;
}


.combine_readmore {
    
}
/*.modal-backdrop {
    background-color: red;
}*/
.combine_join {
    z-index: 1051;
    
}
.combine_msg {
    z-index: 1051;
    
}


/*彈出視窗窗格高度設置*/
.modal-dialog,
.modal-content {
    /* 95% of window height */
    height: 95%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    /*max-height: calc(100% - 120px);*/
    overflow-y: scroll;
}
p{
    margin-bottom: 5px;
    text-align: center;
}

.nav-travel{
    background-color: #fee567;
    border-radius: 20px;
}

.btn-secondary{
    background-color: #222222;
}

.btnContent{
    background-color: #f5be2e;
}

#travel_sort .sort li {
    /*border-bottom: solid;
    border-top: solid;*/
    border-width: 4px;
    border-style: solid;
    border-color: white;
    width: 83.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    /*border-radius:10%;*/
    transition-duration: 0.3s
}

.modal{
    padding-right: 0px!important;
}

.modal-body input{
    margin: 10px !important;
}

/*隱藏scroll bar*/
::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.change-max-width-550 {
    max-width: 550px;
}

.change-max-width-1000 {
    width:1000px;
    max-width: 1000px;
}

 

.change-max-width-1000 .textBox {
    height: 382px;
    overflow-y: scroll;
}

.change-max-width-1400 {
    max-width: 1400px;
}

.change-max-width-1420 {
    max-width: 1420px;
    /*height:500px;
    max-height:500px !important;*/
}

.Travel_border{
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 2px rgb(200, 200, 200);
    transition-duration: 1s;
    background-color: #fff;
}

.Travel_border:hover{
    box-shadow: 0px 0px 12px 2px #cc9922;
    transition-duration: 0.5s;
}

.border-main-color{
    border-color: #ff5b45;
}

.border-second-color{
    border-color: rgb(255,224,178);
}

#temp{
    text-align: right;
}

.fix{
    position:fixed; 
}

.fix-right{
    position:fixed;
    right: 0;
    margin: 0 auto; 
}

.display{
    display: none;
}

.content{ 
    /* margin: 0 auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-color:#fde57a */
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}

.content-title {
    /* margin: 0 auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-color:#fde57a */
    /* background-color: rgba(20, 80, 220, 0.746); */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.btn{
    border: 1px solid;
}

.btn-block{
    width:auto;
    margin-top: 0rem !important;
}

.btn-lg{
    width: 330px;
}

.form-control{
    width: 350px;
}

.wrapper {	
    margin-bottom: 80px;
}

.center{
    max-width: 380px;
    margin: 0 auto;
}

.form-signin {
    max-width: 380px;
    padding: 15px 15px 30px  ;
    margin: 0 auto;
    background: #ebd3a5c0  ;	
    border: 1px solid rgba(0,0,0,0.1);
}  

.form-signin-heading,
.checkbox {
    text-align: center;
	  margin-bottom: 20px;
}

.checkbox {
	  font-weight: normal;
}

.form-control {
	  font-size: 16px;
	  height: auto;
    padding: 10px;
    border-radius: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    position: relative;
    z-index: 999;
}

input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
}